body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: grey;
}
.livescoreBlock {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  min-height: 100vh;
  background: white;
}
.contInfo {
  display: flex;
  justify-content: space-evenly;
}
.contInfo__HeadingText {
  width: 1000px;
  font-size: 30px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 1,33;
  text-align: center;
}
.contInfo2 {
  display: flex;
  justify-content: space-evenly;
}
.contInfo2__Text {
  width: 500px;
  margin: 12px 250px;
  text-align: center;
  font-size: 18px;
}
.liveCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}
.liveCont__soccer {
  width: 452px;
  height: 276px;
  background: url("../images/fotbal1.png") no-repeat center / 452px 276px;
}
.liveCont__hockey {
  width: 452px;
  height: 276px;
  background-image: url("../images/hockey1.png");
}
.liveBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.liveHead {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}
.liveIcon {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.liveBlockCont {
  display: flex;
  flex-direction: column;
}
.liveDel {
  width: 70px;
  height: 2px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}
.liveArea {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.liveText {
  font-size: 16px;
  color: #FFFFFF;
}
.liveText--bold {
  font-weight: bold;
}
