//.contInfo {
//    display: flex;
//    justify-content: space-evenly;
//    &__HeadingText {
//        width: 480px;
//        font-size: 30px;
//        margin: 0 auto;
//        font-weight: bold;
//        line-height: 1,33;
//        text-align: center;
//    }
//}
//.contInfo2 {
//    &__Text {
//        width: 480px;
//        margin: 12px auto 30px;
//        text-align: center;
//        font-size: 18px;
//    }
//}
//.contInfo3 {
//    display: flex;
//    justify-content: center;
//    flex direction: column;
//    align-items: flex-end;
//    margin: 8px 4px;
//    font-size: 18px;
//    font-weight: bold;
//    color: white;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    text-align: right;
//    &__Image {
//        width: 452px;
//	    height: 276px;
//        &--1 {
//            background-image: url("../images/fotbal1.png");
//        }
//        &--2 {
//            background-image: url("../images/hockey1.png");
//        }
//    }
//}
//.contInfo4 {
//    display: flex;
//    justify-content: center;
//    margin: 8px 4px 8px 4px;
//    padding: 8px;
//    font-size: 18px;
//    font-weight: bold;
//    color: black;
//    overflow: hidden;
//    text-overflow: ellipsis;
//    text-align: right;
//    &__Image2 {
//        width: 226px;
//        height: 164px;
//        &--1 {
//            background-image: url("../images/tennis.png");
//        }
//        &--2 {
//            background-image: url("../images/basketbal.png");
//        }
//        &--3 {
//            border: rgb(252, 238, 238);;
//            background-color: rgb(252, 238, 238);
//        }
//        &--4 {
//            background-image: url("../images/sipky.png");
//        }
//
//    }
//}

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background: grey;
}

.livescoreBlock {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	min-height: 100vh;
	background: white;
}
